.buttons{
	position: relative;
	padding: 1rem 0rem 0rem  0rem;

	.btn { 
		padding: 1rem 4.0rem 1rem 4.0rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    text-align: center;  
		
		strong{
			font-weight:bold;
			display:block;
		}
		&.primary { 
			background:$yellow;
			color: $darkest; 
			text-decoration: none;
			text-align:center;
			transition:all .4s ease-out;
			position: relative;
	    cursor: pointer;
	    margin-left: auto;
	    margin-right: auto;
	    padding:1.6rem 2.6rem 1.6rem 2.6rem;
	    border:1px solid $transparent;
	    &:hover{ 
	    	border:1px solid $white;
			}
		}
		&.secondary {
	    background: $white;
	    color: $orange;
	    text-align: center;
	    text-decoration: none;
	    text-transform: inherit;
	    transition: all .4s ease-out;
	    position: relative;
	    cursor: pointer;
	    margin-left: auto;
	    margin-right: auto;
	    padding: 1.6rem 2rem 1.4rem 2rem;
		}
		&.video{ 
			// color:$green;
			// background:none;
			//text-transform: inherit;
			font-size: 1.2rem;
			padding: 1.0rem 2rem 0.8rem 3rem;

			&:before{
				font-size: 1.0rem;
	    	color:$white;
		    top: 9.8px;
		    left: 9.8px;
	    	position: absolute;
	    }
		}
	}
	input{
		border:0;
	}
}


button{ 
  border:0;
  background:none;
  &.close{
	  position:absolute;
	  top:6rem;
	  right:6rem;
	  z-index:2;
	  width: 42px;
    height: 42px;
     span{
      text-indent:-9999em;
      display:block;
      object-fit: contain;
    }
    &:before{
    	color:$white;
	    top: 12px;
	    left: 10px;
    	position: absolute;
    }

    &:after{
      content:"";
      position: absolute;
      width: 42px;
      height: 42px;
      object-fit: contain;
      border: solid 1px $green; 
      top: 0px;
      left: 0px; 
      transition:all .4s ease-out; 
    }
    &:hover{
    	&:after{
    		border: solid 1px $white; 
    	}
    }
  }
}
 