<nav id="menu-container">
	<div id="menu-wrapper">
		<div id="hamburger-menu"><span></span><span></span><span></span></div>

		<ul id="smallnavigation" class="menu-list accordion"> 
			<li><a href="">OUR WORK</a></li>
			<li><a href="">OUR APPROACH</a></li>
			<li><a href="">SECRET SAUCE</a></li>
			<li><a href="">INSIGHT CAREERS</a></li>
		</ul>
	</div>

</nav> 