<footer class="footer">
	<div class="container">

	<div class="wrap-footer"> 

		<ul class="social">
			<li><a href="#" class="icon webfont-linkedin"></a></li>
			<li><a href="#" class="icon webfont-facebook"></a></li>
			<li><a href="#" class="icon webfont-twitter"></a></li>
			<li><a href="mailto:hello@lab.co.uk" class="spacer email ml2">hello@lab.co.uk</a></li>
			<li><a href="tel:+4402071836668" class="spacer tel">0207 183 6668</a></li>
		</ul>



			<ul class="info col-12 flex flex-wrap">
				<li class="">   
					<span>+RAR DIGITAL AWARDS</span>
					<span>GRAND PRIX</span>
					<span class="yellow">WINNERS 2016</span>
				</li>
				<li class="">   
					<span>+RAR DIGITAL AWARDS</span>
					<span>GRAND PRIX</span>
					<span class="yellow">WINNERS 2016</span>
				</li>
				<li class="">   
					<span>+RAR DIGITAL AWARDS</span>
					<span>GRAND PRIX</span>
					<span class="yellow">WINNERS 2016</span>
				</li>
				<li class="">   
					<span>+RAR DIGITAL AWARDS</span>
					<span>GRAND PRIX</span>
					<span class="yellow">WINNERS 2016</span>
				</li>
				<li class="">   
					<span>+RAR DIGITAL AWARDS</span>
					<span>GRAND PRIX</span>
					<span class="yellow">WINNERS 2016</span>
				</li>
				<li class="">   
					<span>+RAR DIGITAL AWARDS</span>
					<span>GRAND PRIX</span>
					<span class="yellow">WINNERS 2016</span>
				</li>
			</ul>
			 

			<p class="copyright py4">© 2017 Copyright Lab Lateral. All Rights Reserved | Privacy & Cookies Policy</p> 
		</div>
	</div>
</footer>
 

