<section class="section" id="section03"> 
<div class="bcg">    
</div>
	 
    <div class="container">
	    <div class="wrapper"> 
        	<form id="formSubmit" class="form col-12 flex flex-wrap" name="RegForm"   method="post">

        		<div class="form-slider col-12 sm-col-6">
        			<header>
			    		<h4 class="heading">Happiness Indicator</h4>
			    		<p>How happy are you right now?</p>
			    	</header> 

			    	<div class="smile">

			    		<div id="stage">
						  <div class="panelWrap"></div>
						</div>

			    		<div id="dragBounds">
						  <div id="dragControl"></div>
						  <i class="icon webfont-arrow-right"></i>
						  <i class="icon webfont-arrow-left"></i>
						</div>

			    		
			    	</div>


				</div>	
				<div class="col-12 sm-col-6">

					<div class="form-wrap p2">

						<h4>Elegant Communication</h4>
 
 
			         
		        		<div class="label">
		        			<label>Full name</label>
								<input type="text" placeholder="full name" name="Name" class="block col-12 mb1 field" id="Name">
		        		</div>
		        		<div class="label">
		        			<label>email address<sup>*</sup></label>
								<input name="Email" type="text" placeholder="Email" class="block col-12 mb1 field" id="Email">
		        		</div>
		        		<div class="label">
		        			<label>contact number</label>
								<input type="text" name="Telephone" placeholder="contact number" class="block col-12 mb1 field" id="Telephone">
		        		</div>
		        		<div class="label">
			        		<select class="block col-12 mb1 field" id="Subject" name="Subject">
							    <option>Option 1</option>
							    <option>Option 2</option>
							    <option>Option 3</option>
							    <option>Option 4</option>
							    <option>Option 5</option>
						  	</select>
						</div>

						<div class="buttons">
							<input class="btn primary" type="submit" value="CONTACT ME" name="Submit"  /> 
						</div> 

					</div>
				</div>



				
				
        	</form>
		</div>
 

	  
	 

	</div> 


</section>