<section class="section" id="section01">
     
        <div class="copy-content-container">
            <div class="wrapper">
                <div class="copy-content-wrap col-12 sm-col-4 md-col-4 p2">
                    <h4 class="pb1">Elegant Communication</h4>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
                    <div class="buttons">
                        <a href="#" class="btn primary">LINK TEXT</a>
                    </div>
                </div>
            </div>
        </div>
    

   
	<div class="slider single-item ">
        <div class="bcg first">
        </div>
        <div class="bcg second">
        </div>
    </div>
</section>