<section class="section" id="six"> 
 
    <div class="container">
	    <div class="wrapper">
			<header>
				<h1 class="heading">Intelligence powered by SAP</h1>
			</header> 

		 
		</div>
	</div>  
</section>