<section class="section" id="four">
 
 
    <div class="container">
	    <div class="wrapper">
	    	<header>
        		<h1 class="heading">A knowledge base for everything</h1>
        	</header> 

		 
        	<div class="content">
	        	<div class="copy line">
	        		<p>
	        			With data systems becoming more complex and fragmented, Professional Services companies need simplicity. They need a holistic view of all their available project data, and need to be confident of its integrity. But how do you bring disparate systems together, so they communicate and understand one another? How do you bring your people together – both internally and externally? And how do you speak naturally to customers through a digital assistant that always has access to the right answers?
	        		</p>

					<div class="buttons">
						<a class="btn primary video webfont-play" id="video02">Watch video</a>
					</div>


	        	</div> 
        	</div>
		</div>

 
	</div> 

</section>