<section class="section" id="section02">
    <div class="container">
	    <div class="wrapper">

			<div id="top"></div>

			<div class="gallery">
				<div class="container"> 
					<ul>
						
						<li>
							<a href="#item02">
								<h4>Digital Strategy</h4>
								<img src="assets/img/src/Services-100.jpg" alt="">
							</a>
						</li>

						<li>
							<a href="#item02">
								<h4>Design</h4>
								<img src="assets/img/src/Services(2)-100.jpg" alt="">
							</a>
						</li>

						<li>
							<a href="#item02">
								<h4>Development</h4>
								<img src="assets/img/src/Services(3)-100.jpg" alt="">
							</a>
						</li>
						<li>
							<a class="image" href="#item01">
								<h4>Performance Marketing</h4>
								<img src="assets/img/src/Services(4)-100.jpg" alt="">
							</a>
						</li>
						<li>
							<a class="image" href="#item02">
								<h4>Neuro Linguistic Search</h4>
								<img src="assets/img/src/Services(5)-100.jpg" alt="">
							</a>
						</li>
						<li>
							<a class="image" href="#item01">
								<h4>Neuromarketing</h4>
								<img src="assets/img/src/Services(6)-100.jpg" alt="">
							</a>
						</li>
						<li>
							<a class="image" href="#item01">
								<h4>Video</h4>
								<img src="assets/img/src/Services(7)-100.jpg" alt="">
							</a>
						</li>
						<li>
							<a class="image" href="#item01">
								<h4>Analysis & Improvement</h4>
								<img src="assets/img/src/Services(8)-100.jpg" alt="">
							</a>
						</li>
					</ul>
				</div>
			</div>
 
		</div>
	</div>  
</section>