$transparent: rgba(0, 0, 0, 0);
$lightest: #fff;
$darkest: #3b4b54;
$medgrey: #666666;
$black: #000000;
$grey: #333333;
$white: #ffffff;
$red:  #EF253D;
$orange:  #ff8000;
$blue:  #003283;
$lightblue:  #0076cb;
$lightestblue:  #008fd3;
$yellow:  #ffff00;
$green:  #00bba8;
$orange:  #E35500;
$blueHover:  #20618b;
$orangeHover:  #FFA100;

$gradient: #e0f9f6; 
$gradient2: #bbfdf6;

$mainbgcol: linear-gradient(to bottom, #e0f9f6 17%, #b7efea 91%);